<div id="fondoPanelMenu"></div>
<div id="panelMenuMasOpciones">
    <button id="cerrarPanel" class="quitarDecoracionesBotones" (click)="cerrarPanel()">
        <img src="../../../assets/img/icons/cerrar.png" alt="Cerrar">
    </button>
    <h2 id="explorarPanel" class="textoDidot">EXPLORAR</h2>
    <button id="buscar" class="quitarDecoracionesBotones">
        <img id="lupa" src="../../../assets/img/icons/search.svg" alt="Buscar">
        <h2 id="textoBuscar">BUSCAR</h2>
    </button>
    <h2 id="compania">COMPAÑÍA</h2>
    <button id="acercaDeNosotros" class="quitarDecoracionesBotones">
        <h2 id="textoAcercaDeNosotros" class="opcionesMasClaras">ACERCA DE NOSOTROS</h2>
    </button>
    <button id="opiniones" class="quitarDecoracionesBotones">
        <h2 id="textoOpiniones" class="opcionesMasClaras">OPINIONES</h2>
    </button>
    <button id="ofertas" class="quitarDecoracionesBotones">
        <h2 id="textoOfertas" class="opcionesMasClaras">OFERTAS</h2>
    </button>
    <button id="contacto" class="quitarDecoracionesBotones">
        <h2 id="textoContacto" class="opcionesMasClaras">CONTACTO</h2>
    </button>
</div>