<div id="menu_principal">
    <button id="aventura" class="menu" (mouseover)="overMostrarOpcionAventura()" (mouseleave)="leaveMostrarOpcionAventura()">
        <div id="imagenAventura">
            <div id="fondoNegroAventura">
                <div class="contenidoFondoNegro">
                    <p class="textoDentroDeOpcion">AVENTURA</p>
                    <p class="textoTresOpciones">3 OPCIONES</p>
                </div>
            </div>
        </div>
    </button>
    <button id="romance" class="menu" (mouseover)="overMostrarOpcionRomance()" (mouseleave)="leaveMostrarOpcionRomance()">
        <div id="imagenRomance">
            <div id="fondoNegroRomance">
                <div class="contenidoFondoNegro">
                    <p class="textoDentroDeOpcion">ROMANCE</p>
                    <p class="textoTresOpciones">3 OPCIONES</p>
                </div>
            </div>
        </div>
    </button>
    <button id="solyplaya" class="menu" (mouseover)="overMostrarOpcionSolYPlaya()" (mouseleave)="leaveMostrarOpcionSolYPlaya()">
        <div id="imagenSolYPlaya">
            <div id="fondoNegroSolYPlaya">
                <div class="contenidoFondoNegro">
                    <p class="textoDentroDeOpcion">SOL Y PLAYA</p>
                    <p class="textoTresOpciones">3 OPCIONES</p>
                </div>
            </div>
        </div>
    </button>
    <button id="botonMenuMasOpciones" (click)="abrirPanel()">
        <img src="../../../assets/img/icons/Menu.png" alt="Menu"/>
    </button>
    <panel-menu id="panelMenu"></panel-menu>
</div>
