/* Menú principal */
#menu_principal{
    display: none;
    height: 100vh;
}

#menu_principal .menu{
    flex-basis: calc(100% / 3);
    height: 100%;
    border: none;
    overflow: hidden;
}

#menu_principal #aventura{
    opacity: 0%;
}

#menu_principal #aventura #imagenAventura{
    background-image: url("../../../assets/img/cascada.png");
    background-repeat: no-repeat;
    transform: scale(2);
    background-position: 50% 0%;
    height: 100vh;
    clear: both;
}

#menu_principal #fondoNegroAventura{
    opacity: 0%;
    height: 100%;
    background-color: rgba(34, 41, 60, 0.70);
}

#menu_principal #romance{
    opacity: 0%;
}

#menu_principal #romance #imagenRomance{
    background-image: url("../../../assets/img/Venecia.jpg");
    background-repeat: no-repeat;
    transform: scale(2);
    background-position: 50% 0%;
    clear: both;
    height: 100%;
}

#menu_principal #fondoNegroRomance{
    opacity: 0%;
    height: 100%;
    background-color: rgba(34, 41, 60, 0.70);
}

#menu_principal #solyplaya{
    opacity: 0%;
}

#menu_principal #solyplaya #imagenSolYPlaya{
    background-image: url("../../../assets/img/Islas.jpg");
    background-repeat: no-repeat;
    transform: scale(2);
    clear: both;
    height: 100%;
}

#menu_principal #fondoNegroSolYPlaya{
    opacity: 0%;
    height: 100%;
    background-color: rgba(34, 41, 60, 0.70);
}

.contenidoFondoNegro{
    padding: 43vh 0px;
}

.textoDentroDeOpcion{
    font-size: 25px;
    letter-spacing: 10px;
}

.textoTresOpciones{
    font-family: AvenirLT-Book;
    font-size: 14px;
    margin-top: 9px;
    letter-spacing: 2px;
}

#botonMenuMasOpciones{
    position: absolute;
    background-color: transparent;
    border: none;
    margin-left: 50px;
    margin-top: 50px;
    outline:none;
}

#panelMenu{
    height: 100%;
    position: absolute;
}